
<style>
.jumbotron {
	
	text-align: center;
	background-image: url("app/assets/images/pic.png");
	background-color: #ED3013;
	height: 550px;
	}
	</style>
	






<div class="jumbotron">
  <h1>TEST BLOG</h1>
	<p><%= link_to 'SignUp Now', "#", class: "btn btn-danger btn-lg" %></p>
</div>
</body>


</body>
</html>





	