
<style>
.center {
	
	text-align: center;
	background-image: url("app/assets/images/rails.jpg");
    background-size: cover;	
	}
	
	
		
		

	
	</style>



<div class="center jumbotron">
  <h1>TEST BLOG</h1>
  <p><%= link_to 'SignUp Now', "#", class: "btn btn-primary btn-lg" %></p>
</div>





	