<style>
	footer{
		margin-top:45px;
		padding-top:5px;
		border-top: 2px solid #eaeaea;
		color: #777;
	}

footer ul{
float: right;
	list-style: none;

}
	footer a:hover{
		
		color:#222;
	}
	
	footer small{
		float:left;
	}
	
	</style>


<div class= "container">
	<footer class="footer">
		<small> Copyrigth &copy;<a href = "https://www.youtube.com">M.AHMAD</a> by <a href="https://www.3wcschool.com">W3C</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to 'About', about_path  %></li>
			</ul>
		</nav>
	</footer>
</div>
